
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/


# IDE settings
.vscode/

# Local secrets (NEVER COMMIT THIS)
data/.env

# Test outputs
test-results/
playwright-report/
blob-report/
playwright/.cache/